.post {
    padding: 0;
    margin-bottom: 30px;
}

.post__container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    position: relative;
    transition: transform 0.2s;

}

.post__link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.post__title {

    padding: 5px 0px;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: white;
    text-align: center;
}

.post__image-container {
    position: relative;
    overflow: hidden;
}

.post__statistic {
    margin-top: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 10px;
    color: darkgray;
    font-weight: bold;
}

.post__image {
    display: block;
    width: 100%;
    height: 250px;
    transition: transform 0.5s;
}

.post__info {
    border: 5px solid grey;
    font-size: 12px;
    color: white;
    width: 257px;
    display: none;
    padding: 10px;
    background-color: #141518;
}

.post__container:hover .post__info {
    display: block;
    position: absolute;
    top: 100%;
    z-index: 10;
}